.active{
    background-color: #009BDE
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;           
    background-color: #009BDE;
    color: #0f101c;
    position: sticky;
    top: 0;    

}

nav .title {
    font-size: 0.1rem;
    font-weight: bold;
    text-decoration: none;
    color: #9673B9;
}

nav ul {
    display: flex;
}

nav ul li {
   list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #2E5A88;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
    background-color:#2A4B7C ;
    border-radius: 10%;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.60rem;
    right: 0.8rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 3ch;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #9673B9;
    border-radius: 0.3rem;
}


@media (max-width: 480px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.70rem;
    }

    nav ul.open {
        display:contents;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.5rem 0.5rem;
        
    }
}

.logo{
    height: 45px;
    border-radius: 50%;
    margin-left: 10px;
 }

.icon{
    height: 30px;
    border-color: #9673B9;
    margin-right: 10px;
}