.appContainer {
    display: contents;
    min-height: 80px;
}

.mainContent {
    flex: 1;
    padding: 2rem;
    margin-left: 10%;
    margin-right: 10%;
    transition: all 0.3s ease;
}


.mainContent:has(+ .settings.closed) {
    margin-right: 0;
}

.sidebar.closed~.mainContent {
    margin-left: 0;
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .settings {
        width: 250px;
    }

    .mainContent {
        margin-left: 10%px;
        margin-right: 10%px;
        padding: 1rem;
    }


}