/* CSS for Full App */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

/*CSS for SearchBar*/
.input-wrapper {
  background-color: #ffff;
}

#search-icon {
  width: 15px;
  height: 10px;
}

/* CSS for Logo */
.logo {
  align-items: center;
  justify-content: center;
  height: 100px;
  will-change: filter;
  transition: filter 300ms;
}

/* CSS for Contact and Location Cards */
.contact-card {
  border-style: solid;
  border-radius: 15px;
}

.location-card {
  border-style: solid;
  border-radius: 15px;
}

/* CSS for Sidebar Buttons */
.body-content {
  align-content: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.middle{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 500px;
}

.rightNav{
    align-items: center;
}

.appContainer {
    display: contents;
    min-height: 100vh;
    background-color: blue;
}

.mainContent {
    flex: 1;
    padding: 2rem;
    margin-left: 10%;
    /* matches sidebar width */
    margin-right: 10%;
    /* matches settings width */
    transition: all 0.3s ease;
}

/* Adjust margins when sidebars are closed */
.mainContent:has(+ .settings.closed) {
    margin-right: 0;
}

.sidebar.closed~.mainContent {
    margin-left: 0;
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .settings {
        width: 250px;
    }

    .mainContent {
        margin-left: 10%px;
        margin-right: 10%px;
        padding: 1rem;
    }
}